@import "bootstrap.min.css";


@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
}


body {
  font-family: 'Roboto';
}


div {
  display: block;
}


#header_buttons {
  width: 100%;
  backgound: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.header_button {
  display: inline-block;
}


ul, li {
  margin: 0;
  padding: 0;
}


.download-buttons {
  text-align: center;
  width: 100%;
}


#content {
  font-weight: 100;
  height: auto;
  background-color: #FC4C02;
  background-position: initial initial;
  background-repeat: initial initial;
}


.strava_main_content {
  position: relative;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  display: auto;
}


.strava_intro {
  margin-bottom: 200px;
}


.strava_header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 100px;
  color: white;
}


.small_text {
  font-size: 20px;
}


.strava_input_sec {
  margin: 0 auto;
  background-color: #FA9E25;
}


.sec_width {
  margin: 0 auto;
  width: 900px;
}


#input_gpx_act {
  border: none;
  background: #FA9E25;
  color: white;
  width: 100%;
  font-size: 30px;
  text-align: center;
  outline: none;
}


#urlData {
  font-size: 30px;
  color: white;
}


#codeToParse {
  width: 80%;
  font-size: 30px;
}



#charts {
  font-size: 10px;
}


#totalAccum {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 200;
}


#codeToParse {
  width: 80%;
  font-size: 30px;
}


/***::-webkit-input-placeholder {
  color: white;
}

*:-moz-placeholder {
  color: white;
}

*::-moz-placeholder {
  color: white;
}

*:-ms-input-placeholder {
    color: white;
}*/
